# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: "*/10 * * * *"

jobs:

  build_and_test:
    runs-on: ubuntu-latest
    env:
      BUILDEVENT_FILE: "../buildevents.txt"
      PACT_CLI_IMG: pactfoundation/pact-cli:0.12.3.0
      PACT_BROKER_URL: localhost:9292

    strategy:
      fail-fast: false
      matrix:
        service: [welcome-member-email-service, special-membership-service, credit-score-service]
    steps:
      - uses: actions/checkout@v3

      - name: "Honeycomb: setup recording"
        uses: honeycombio/gha-buildevents@v1
        with:
          # Required: a Honeycomb API key - needed to send traces.
          #           this must be set in your GitHub repository under Settings > Secrets > Actions
          apikey: ${{ secrets.BUILDEVENTS_APIKEY }}

          # Required: the Honeycomb dataset to send traces to.
          dataset: gha-buildevents_integration

          # Required: the job status, this will be used in the post section and sent
          #           as status of the trace. Must always be ${{ job.status }}.
          job-status: ${{ job.status }}

          # Optional: this should only be used in combination with matrix builds. Set
          # this to a value uniquely describing each matrix configuration.
          matrix-key: ${{ matrix.service }}

      - name: "Honeycomb: Start setup"
        run: |
          echo "STEP_ID=prepare-environment" >> $GITHUB_ENV
          echo "STEP_START=$(date +%s)" >> $GITHUB_ENV

      - name: "Install xpath for reporting"
        run: |
          buildevents cmd $TRACE_ID $STEP_ID 'apt update' -- \
            sudo apt update
          buildevents cmd $TRACE_ID $STEP_ID 'install xpath' -- \
            sudo apt install libxml-xpath-perl

      - name: Start dependencies with docker-compose
        run: |
          buildevents cmd $TRACE_ID $STEP_ID 'run dependencies' -- \
            docker-compose -f pact-tools/pact-broker/docker-compose.yml up -d

      - name: "Set up JDK"
        uses: actions/setup-java@v3.4.1
        with:
          java-version: 14
          distribution: 'adopt'

      - name: "Cache"
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      - name: "Honeycomb: Finish setup"
        run: |
          buildevents step $TRACE_ID $STEP_ID $STEP_START 'setup'
        if: always()

      - name: "Service build"
        run: |
          STEP_ID=welcome-member-email-service
          echo "STEP_ID=${STEP_ID}" >> $GITHUB_ENV
          echo "STEP_START=$(date +%s)" >> $GITHUB_ENV

          .github/scripts/${{ matrix.service }}-build.sh

      - name: "Honeycomb: Finalise service span"
        run: |
          FS_COMPLETED=$(xpath -q -e 'failsafe-summary/completed/text()'  ${{ matrix.service }}/target/failsafe-reports/failsafe-summary.xml)
          FS_ERRORS=$(xpath -q -e 'failsafe-summary/errors/text()'  ${{ matrix.service }}/target/failsafe-reports/failsafe-summary.xml)
          FS_FAILURES=$(xpath -q -e 'failsafe-summary/failures/text()'  ${{ matrix.service }}/target/failsafe-reports/failsafe-summary.xml)
          FS_SKIPPED=$(xpath -q -e 'failsafe-summary/skipped/text()'  ${{ matrix.service }}/target/failsafe-reports/failsafe-summary.xml)
          echo " ci.reporting.integration.completed=${FS_COMPLETED}" >> $BUILDEVENT_FILE
          echo " ci.reporting.integration.errors=${FS_ERRORS}" >> $BUILDEVENT_FILE
          echo " ci.reporting.integration.failures=${FS_FAILURES}" >> $BUILDEVENT_FILE
          echo " ci.reporting.integration.skipped=${FS_SKIPPED}" >> $BUILDEVENT_FILE

          buildevents step $TRACE_ID $STEP_ID $STEP_START $STEP_ID
        if: success() || failure()

      # NOTE: Turning off code coverage report given we are not Code Climate users

      - name: "Stop dependencies with docker-compose"
        run: |
          STEP_ID=tear-down-environment
          STEP_START=$(date +%s)

          buildevents cmd $TRACE_ID $STEP_ID 'clean up dependencies' -- \
            docker-compose -f pact-tools/pact-broker/docker-compose.yml down

          buildevents step $TRACE_ID $STEP_ID $STEP_START $STEP_ID
        if: always()
